.footer {
  background: linear-gradient(90deg,#5b5b5b,#272727);
  text-align: center;
  padding: 5px;
  color: white;
  height: 90px;

  p {
    margin-bottom: 0;
  }
}

.fa-brands {
  font-size: 34px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px ;
}

.fa-heart {
  color: red;
  font-size: 15px;
}
