#new_user {
  border: 1px solid;
  justify-content: center;
  display: grid;
  margin: 0 auto;
  width: 40%;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 18px;

  .btn {
    border: 1 solid;
    border-color: rgba($color: #000000, $alpha: 0.4);
    justify-content: center;
    border-radius: 8px;
  }
}

.form-actions {
  border-color: rgba($color: #000000, $alpha: 0.6);
}

.form-control {
  margin-left: 10px;
}
